"" source your .vimrc
"source ~/.vimrc
let mapleader = ' '
"" -- suggested options --
" show a few lines of context around the cursor. note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5:

set nerdtree
" do incremental searching.
remap  q :action closecontent

set incsearch
set hlsearch

set smartcase
set showmode
set history=1000
set surround
g
" don't use ex mode, use q for formatting.
map q gq

:set relativenumber
:set number
"" -- map ide actions to ideavim -- https://jb.gg/abva4t
"" map \r to the reformat code action
"map \r <action>(reformatcode)

"" map <leader>d to start debug
"map <leader>d <action>(debug)
let g:whichkeydesc_reload_vimrc = "<leader>si reload config"
let g:whichkey_showvimactions = "true"
"" map \b to toggle the breakpoint on the current line
map \b <action>(togglelinebreakpoint)

""" editing and reloading the config
set clipboard+=unnamed
set clipboard+=ideaput
nnoremap \e :e ~/.ideavimrc<cr>
nnoremap \r :action ideavim.reloadvimrc.reload<cr>

map <c-c> <esc>
let mapleader=" "
""" distraction free mode
nnoremap <c-z> :action toggledistractionfreemode<cr>
nnoremap <leader>wt :action activateterminaltoolwindow<cr>
nnoremap <leader>wr :action activateruntoolwindow<cr>
nnoremap <leader>wd :action activatedebugtoolwindow<cr>
nnoremap <leader>wp :action activateprojecttoolwindow<cr>
nnoremap <leader>t :action terminal.openinterminal<cr>
""" navigation
nnoremap <c-\> :action splitvertically<cr>
nnoremap <c--> :action splithorizontally<cr>
nnoremap <c-=> :action unsplit<cr>
nnoremap <c-m> :action moveeditortooppositetabgroup<cr>
sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <tab> :action previoustab<cr>
nnoremap <s-tab> :action nexttab<cr>
nnoremap <leader>en :action editsourceinnewwindow<cr>
nnoremap <leader>n :action nextwindow<cr>
nnoremap <leader>q :action closecontent<cr>
nnoremap <leader>qa :action closealleditors<cr>
""" editing source code
set ideajoin
set idearefactormode=keep
vnoremap < <gv
vnoremap > >gv
vnoremap <leader>c :action commentbylinecomment<cr>
noremap [[ :action methodup<cr>
nnoremap ]] :action methoddown<cr>
nnoremap zc :action collapseregion<cr>
nnoremap zo :action expandregion<cr>
nnoremap <leader>zc :action collapseallregions<cr>
nnoremap <leader>zo :action expandallregions<cr>
nnoremap <leader>c :action commentbylinecomment<cr>
nnoremap <leader>r :action refactorings.quicklistpopupaction<cr>
nnoremap <leader>=  :action reformatcode<cr>
nnoremap <leader>o :action optimizeimports<cr>
nnoremap <c-r> :action recentfiles<cr>
nnoremap <leader>l :action recentlocations<cr>
nnoremap <leader>h  :action localhistory.showhistory<cr>
nnoremap ge :action gotonexterror<cr>
nnoremap ge :action gotopreviouserror<cr>
nnoremap <leader>s :write<cr>
""" searching and source code navigation
set incsearch
noremap <c-/> :action findinpath<cr>
nnoremap <c-a> :action gotoaction<cr>
nnoremap <c-f> :action gotofile<cr>
nnoremap <leader>u :action findusages<cr>
nnoremap <leader>s :action gotorelated<cr>
nnoremap <leader>h :action callhierarchy<cr>
nnoremap <leader>b :action shownavbar<cr>
nnoremap <c-s> :action filestructurepopup<cr>
nnoremap <c-o> :action gotosymbol<cr>
nnoremap gc :action gotoclass<cr>
nnoremap gi :action gotoimplementation<cr>
nnoremap gd :action gottodeclaration<cr>
nnoremap gp :action gottosupermethod<cr>
nnoremap gt :action gototest<cr>
nmap gb <action>(back)
nmap gf <action>(forward)
""" tool windows
nnoremap <c-p> :action jumptolastwindow<cr>
nnoremap <c-x> :action hideallwindows<cr>
""" running and debugging
nnoremap ,r :action contextrun<cr>
nnoremap ,c :action runclass<cr>
nnoremap ,f :action chooserunconfiguration<cr>
nnoremap ,t :action activateruntoolwindow<cr>
nnoremap ,u :action rerun<cr>
nnoremap ,f :action rerunfailedtests<cr>
nnoremap ,b :action togglelinebreakpoint<cr>
nnoremap ,d :action contextdebug<cr>
nnoremap ,n :action activatedebugtoolwindow<cr>

" whichkey plugin
set which-key
set timeoutlen=5000
set notimeout

nnoremap <leader>si :source ~/.ideavimrc<cr>

map ,lb :action tool_external tools_black<cr>
map ,li :action tool_external tools_isort<cr>


nnoremap ]c :action vcsshownextchangemarker<cr>
nnoremap [c :action vcsshowprevchangemarker<cr>
nnoremap <leader>hu :action vcs.rollbackchangedlines<cr>
nnoremap <leader>hp :action vcs.showhistoryforblock<cr>
